.user-login {
    background: rgb(8, 58, 106);
    background: linear-gradient(123deg, rgba(8, 58, 106, 0.8883928571428571) 47%, rgba(0, 31, 164, 1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    &__logo {
        background-size: 100% 100%;
        height: 2rem;
        width: 13rem;
    }
}
